flows.json
[
    {
        "id": "b2b08f7c5392d2c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f24cc1a85e15bbaa",
        "type": "ui_tab",
        "name": "Home1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ae8d3ccd58fc5924",
        "type": "ui_group",
        "name": "Panel1",
        "tab": "f24cc1a85e15bbaa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f25d27abef8e159",
        "type": "inject",
        "z": "b2b08f7c5392d2c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "5185c4671bb8a9d7",
                "6800242f160c7dd4"
            ]
        ]
    },
    {
        "id": "5185c4671bb8a9d7",
        "type": "ui_text",
        "z": "b2b08f7c5392d2c8",
        "group": "ae8d3ccd58fc5924",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "6800242f160c7dd4",
        "type": "debug",
        "z": "b2b08f7c5392d2c8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    }
]